/*Issam*/
.fa-envelope-o{
    color: white;
}

/*Charles*/
#header_fiche{
    background-color: cornflowerblue;
    color: white;
}

#infos_admin{
    border: 1px solid cornflowerblue;
    margin-top: 30px;
}

#coordonees{
    border: 1px solid cornflowerblue;
    margin-top: 30px;
}

/*Alex*/